

 *::before{
    margin:0;
    padding:0;
  } 
   *::after{
    margin:0;
    padding:0;
  } 
  *{
    margin:0;
    padding:0;
  }
  body{
    /* background-color: black; */
  }

.nav-bar{
    display: flex;
    gap:10px;
    font-size: large;
    justify-content: space-evenly;
    background-color:#333;
    padding: 4px;
    border:1px solid red;
}


.logo{
     display:flex;
     flex: 0;
     padding:15px;
    
     flex-direction: column;
     width: 100px;
     height:199px;
     
    
}

.head {
    color:lime;
    font-size: 18px;
    
    height: 50px;
    background-image: url(/flexbox-practice2/images/codes2.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-color:#161718;
    /* border:2px solid lime; */
    padding:20px;
}
.nav {
    display: inline;
    position: relative;
    display: flex;
    outline: 1px solid lime;
    flex-wrap: wrap;
    flex-shrink: 0;
    bottom:230px;
    /* outline:1px solid lime; */
    /* left:5px; */
    /* justify-content: flex-end; */
    gap:10px;
    padding:20px;
}
#links{
    position: relative;
    display: inline;
    display: flex;
    color:lime;
    flex-grow: 1;
    justify-content: center;
    font-size: 18px;
    top:10px;
    padding:5px;
    justify-content: end;
    border:1px dotted red;
   
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-decoration: none;
}

.outerarea2{
    border:2px solid yellow;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 600px;
    background-color: bisque;

}

.area2{
   display: flex;
   flex-wrap: wrap;
   /* flex-direction: column; */

    background-color: rgb(3, 80, 156);
    border:6px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    align-content: center;
    justify-content: space-evenly;
    padding:4cap ;
}


 .area2 h1{
    flex:0;
   
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lime;
    border-radius: 10px;;
    font-size: 48px;
    color: #F9FAF8;
    /* font-weight: 900; */
    
} 

/* .area2 p {
    font-size: 18px;
    color: #E5E7EB;
} */

/* .area2 {
    flex: 1;
    margin-right: 20px;
} */

 

/* img {
    max-width: 500px;
    flex: 1;
} */



/* .section-two h2 {
    font-size: 36px;
    color: #1F2937;
} */

/* .card-group {
    display: flex;
   
    justify-content: center;
} */






/** styling for section three **/

/* .section-three {
    background-color: #E5E7EB;
    padding: 120px 300px;
    display: flex;
    flex-direction: column;
} */
